body{
    background-color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: aquamarine;
}
h1{
    color: aquamarine;
    font-size: 40px;
}
#vissza{
    font-variant: small-caps;
    font-size: small;
    text-align: right;
    color: chartreuse;
}
a{
    color: aquamarine;
}
